---
title: Vigilantes Archives
---
<link href="https://fonts.googleapis.com/css?family=Major+Mono+Display" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="assets/css/imageRevealHover.css">
<style type="text/css">
/* General styles */

body {
	color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.block__link_title {
	font-size: 1em;
	font-weight: bold;
}

.block__link_subtitle {
	font-size: 1.3em;
}

.arrow-key {
	width: 35px;
	height: 35px;
	border: 1px solid #a9a9a9;
	border-radius: 2px 2px 2px 2px;
	-moz-border-radius: 2px 2px 2px 2px;
	-webkit-border-radius: 2px 2px 2px 2px;
	font-size: 16px;
	-moz-box-sizing: border-box !important;
	-webkit-box-sizing: border-box !important;
	box-sizing: border-box !important;
	text-align: center;
	padding: 6px 11px 9px 11px;
	color: #7c7c7c;
	-webkit-box-shadow: 0px 3px 0px -2px rgba(255,255,255,1), 0px 2px 0px 0px rgba(169,169,169,1);
	-moz-box-shadow: 0px 3px 0px -2px rgba(255,255,255,1), 0px 2px 0px 0px rgba(169,169,169,1);
	box-shadow: 0px 3px 0px -2px rgba(255,255,255,1), 0px 2px 0px 0px rgba(169,169,169,1);
	cursor: pointer;
}

.up-down-keys {
	padding: 8px 15px;
}

.instruction-text {
	padding: 0 30px 0 15px;
}

</style>
<div class="container loading">
</br><h1>Vigilantes Archives</h1></br>

<div class="instructions">
	<span class="arrow-key">&larr;</span> <span class="arrow-key up">&rarr;</span>
	<span class="instruction-text"> Next/Prev Page</span>

	<span class="arrow-key up-down-keys">&uarr;</span> <span class="arrow-key up-down-keys">&darr;</span>
	<span class="instruction-text"> Prev/Next Chapter</span>
</div>

<div class="content"><div class="block" data-fx="1">
	{% for chapter in site.vigilantes %}

	{% assign filename = chapter.relative_path | replace: chapter.collection, '' | replace: '/', ''  | replace: '_', '' | replace: '.md', '' %}

	{% capture firstchar %}{{ filename | slice: 0 }}{% endcapture %}
	
	{% if firstchar == '0' %}
	{% assign filename = filename | replace_first: '0', '' %}
	{% endif %}

	<a class="block__link" href="{{ chapter.url }}" target="_blank" data-img="assets/{{chapter.collection}}-thumb/{{filename}}.jpg"><span class="block__link_title">CHAPTER {{ filename }}</span></br><span class="block__link_subtitle">{{ chapter.name }}</span></a>

	{% endfor %}
</div>
</div>

<script src="assets/js/charming.min.js"></script>
<script src="assets/js/imagesloaded.pkgd.min.js"></script>
<script src="assets/js/TweenMax.min.js"></script>
<script src="assets/js/imageRevealHover.js"></script>
